<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Let's get stuff done</title>
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/style.css">

  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="css/todos.css">
  <noscript><h2 class="text-center">You need Javascript enabled to use this page</h2></noscript>
</head>
<body>
  <script type="text/x-handlebars">
    <div class="container">
      <div class="col-sm-6 col-sm-offset-3">
        <div class="panel panel-default">
          <h1 class="text-center">
            <strong>Todos</strong>
          </h1>
          <hr>

          <div class="todo-section">
            {{outlet}}
          </div>
        </div>
      </div>
    </div>
  </script>

  <script type="text/x-handlebars" id="todos">
    <form role="form" class="form-inline text-center">
        {{input type="text" class="form-control" value=description id="description" placeholder="What do you want to do today?"}}
        <button type="submit" {{action "addTodo"}} class="btn btn-default">Add Todo</button>
    </form>

    <ul class="list-unstyled todo-list">
      {{#each this itemController="todo"}}
        <li>
          {{#if isEditing}}
            {{input type="text" focus-out="finishedEditing" escape-press="cancelEditing" value=description insert-newline="finishedEditing" value=description class="editTodo"}}
          {{else}}
            <label {{bind-attr class="isCompleted:completed"}}>
              {{input type="checkbox" class="toggle" checked=isCompleted}}{{description}}
            </label>
            <span class="edit">
              <button type="button" class="btn btn-link" {{action "editTodo"}}>
                <span>Edit</span>
              </button>
              <button type="button" class="btn btn-link" {{action "deleteTodo"}}>
                <span class="glyphicon glyphicon-remove"></span>
              </button>
            </span>
          {{/if}}
        </li>
      {{/each}}
    </ul>
    <hr>
    
    <div>
      <span>{{todosLeft.length}} items left</span>
      <span class="util">
        <button type="button" class="btn btn-link" {{action "markAllTodosComplete"}}>Mark all completed</span>
      </span>
    </div>
  </script>

  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.1.2/handlebars.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/ember.js/1.6.0/ember.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/ember-data.js/1.0.0-beta.8/ember-data.min.js"></script>
  <script src="ember/js/app.js"></script>
</body>
</html>
